<a href="https://colab.research.google.com/github/akhushi/Assignment/blob/main/Data_Science_on_Medium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science on Medium

#### Analyzing articles about Data Science on medium in 2019.

In [21]:
!pip install jovian --upgrade -q
import jovian
jovian.set_project('data-science-on-medium')
jovian.set_colab_id('1SW7NC9Tz7PUEGc1hlEXYqWzSocHN0Dp6')

In [2]:
!pip install jovian --upgrade --quiet

In [3]:
import jovian

In [4]:
# Execute this to save new versions of the notebook
jovian.commit(project="Data Science on Medium")

[jovian] Detected Colab notebook...
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ··········
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/akhushi/data-science-on-medium

'https://jovian.ai/akhushi/data-science-on-medium'

In [8]:
!pip install jovian opendatasets --upgrade --quiet
import opendatasets as od

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
dataset_url = 'https://www.kaggle.com/dorianlazar/medium-articles-dataset?select=medium_data.csv'
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: akhushi
Your Kaggle Key: ··········
Downloading medium-articles-dataset.zip to ./medium-articles-dataset

100%|██████████| 1.33G/1.33G [00:34<00:00, 41.1MB/s]

In [27]:
filename= '/content/medium-articles-dataset/medium_data.csv'

# New section

In [22]:
import pandas as pd

In [28]:
medium = pd.read_csv(filename)

In [30]:
medium.head(10)

   id  ...        date
0   1  ...  2019-05-30
1   2  ...  2019-05-30
2   3  ...  2019-05-30
3   4  ...  2019-05-30
4   5  ...  2019-05-30
5   6  ...  2019-05-30
6   7  ...  2019-05-30
7   8  ...  2019-05-30
8   9  ...  2019-05-30
9  10  ...  2019-05-30

[10 rows x 10 columns]

In [31]:
medium.info() #to find out the Datatypes and if there are any missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6508 entries, 0 to 6507
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            6508 non-null   int64
 1   url           6508 non-null   object
 2   title         6508 non-null   object
 3   subtitle      3479 non-null   object
 4   image         6361 non-null   object
 5   claps         6508 non-null   int64
 6   responses     6508 non-null   object
 7   reading_time  6508 non-null   int64
 8   publication   6508 non-null   object
 9   date          6508 non-null   object
dtypes: int64(3), object(7)
memory usage: 508.6+ KB

### We notice that date is stored as an object which can be converted to DataTime and there are some missing values in the column- subtitle

In [37]:
medium.describe(include='all')

                 id  ...        date
count   6508.000000  ...        6508
unique          NaN  ...          50
top             NaN  ...  2019-10-21
freq            NaN  ...         197
mean    3254.500000  ...         NaN
std     1878.842108  ...         NaN
min        1.000000  ...         NaN
25%     1627.750000  ...         NaN
50%     3254.500000  ...         NaN
75%     4881.250000  ...         NaN
max     6508.000000  ...         NaN

[11 rows x 10 columns]

In [36]:
medium.groupby('publication').sum('reading_time')

                              id   claps  reading_time
publication
Better Humans              84120   51178           374
Better Marketing          715008  200702          1551
Data Driven Investor     2716088   73937          4061
The Startup              9848057  922651         17961
The Writing Cooperative  1426409  150216          2001
Towards Data Science     4648827  414386         10631
UX Collective            1741777  211413          3347

# Maximum Number of Articles by which publication
# Number of claps and responses

# Hghest Reading time
## Publication Month

# Number of Beginner's Guide / No of articles on Python